<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.itdachen.mapper.IStudentInfoMapper">

    <select id="findCount" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM fly_student_info
    </select>

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.itdachen.sdk.vo.StudentInfoVO" id="studentInfoMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="schoolId" column="school_id"/>
        <result property="academyId" column="academy_id"/>
        <result property="birthday" column="birthday"/>
        <result property="stuNo" column="stu_no"/>
        <result property="sex" column="sex"/>
        <result property="remarks" column="remarks"/>
    </resultMap>

    <!-- 查询 sql -->
    <sql id="selectStudentInfoVO">
        SELECT id,
               name,
               school_id,
               academy_id,
               birthday,
               stu_no,
               sex,
               remarks
        FROM fly_student_info
    </sql>


    <!-- 分页查询 -->
    <select id="findStudentInfoList" parameterType="com.github.itdachen.sdk.query.StudentInfoQuery"
            resultMap="studentInfoMap">
        <include refid="selectStudentInfoVO"/>
        <where>
            <if test="null != name  and '' != name ">
                AND name LIKE CONCAT(CONCAT('%',#{name}),'%')
            </if>
            <if test="null != schoolId  and '' != schoolId ">
                AND school_id = #{schoolId}
            </if>
            <if test="null != academyId  and '' != academyId ">
                AND academy_id = #{academyId}
            </if>
            <if test="null != sex  and '' != sex ">
                AND sex = #{sex}
            </if>
        </where>
        ORDER BY create_time DESC
        limit #{page}, #{limit}
    </select>

    <select id="findStudentInfoCount" resultType="java.lang.Long"
            parameterType="com.github.itdachen.sdk.query.StudentInfoQuery">
        SELECT count(id)
        FROM fly_student_info
        <where>
            <if test="null != name  and '' != name ">
                AND name LIKE CONCAT(CONCAT('%',#{name}),'%')
            </if>
            <if test="null != schoolId  and '' != schoolId ">
                AND school_id = #{schoolId}
            </if>
            <if test="null != academyId  and '' != academyId ">
                AND academy_id = #{academyId}
            </if>
            <if test="null != sex  and '' != sex ">
                AND sex = #{sex}
            </if>
        </where>
    </select>

    <!-- 根据id查询 -->
    <select id="getStudentInfoById" parameterType="java.lang.String" resultMap="studentInfoMap">
        <include refid="selectStudentInfoVO"/>
        WHERE id = #{id}
    </select>

    <insert id="saveStudentInfo" parameterType="com.github.itdachen.entity.StudentInfo">
        INSERT INTO fly_student_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != id  and '' != id ">id,
            </if>
            <if test="null != name  and '' != name ">name,
            </if>
            <if test="null != schoolId  and '' != schoolId ">school_id,
            </if>
            <if test="null != academyId  and '' != academyId ">academy_id,
            </if>
            <if test="null != birthday  and '' != birthday ">birthday,
            </if>
            <if test="null != stuNo  and '' != stuNo ">stu_no,
            </if>
            <if test="null != sex  and '' != sex ">sex,
            </if>
            <if test="null != remarks  and '' != remarks ">remarks,
            </if>
            <if test="null != createTime ">create_time,
            </if>
            <if test="null != createUserId  and '' != createUserId ">create_user_id,
            </if>
            <if test="null != createUser  and '' != createUser ">create_user,
            </if>
            <if test="null != updateTime ">update_time,
            </if>
            <if test="null != updateUserId  and '' != updateUserId ">update_user_id,
            </if>
            <if test="null != updateUser  and '' != updateUser ">update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != id  and '' != id">#{id},
            </if>
            <if test="null != name  and '' != name">#{name},
            </if>
            <if test="null != schoolId  and '' != schoolId">#{schoolId},
            </if>
            <if test="null != academyId  and '' != academyId">#{academyId},
            </if>
            <if test="null != birthday  and '' != birthday">#{birthday},
            </if>
            <if test="null != stuNo  and '' != stuNo">#{stuNo},
            </if>
            <if test="null != sex  and '' != sex">#{sex},
            </if>
            <if test="null != remarks  and '' != remarks">#{remarks},
            </if>
            <if test="null != createTime ">#{createTime},
            </if>
            <if test="null != createUserId  and '' != createUserId">#{createUserId},
            </if>
            <if test="null != createUser  and '' != createUser">#{createUser},
            </if>
            <if test="null != updateTime ">#{updateTime},
            </if>
            <if test="null != updateUserId  and '' != updateUserId">#{updateUserId},
            </if>
            <if test="null != updateUser  and '' != updateUser">#{updateUser},
            </if>
        </trim>
    </insert>

    <update id="updateStudentInfo" parameterType="com.github.itdachen.entity.StudentInfo">
        UPDATE fly_student_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != name  and '' !=  name ">name = #{name},
            </if>
            <if test="null != schoolId  and '' !=  schoolId ">school_id = #{schoolId},
            </if>
            <if test="null != academyId  and '' !=  academyId ">academy_id = #{academyId},
            </if>
            <if test="null != birthday  and '' !=  birthday ">birthday = #{birthday},
            </if>
            <if test="null != stuNo  and '' !=  stuNo ">stu_no = #{stuNo},
            </if>
            <if test="null != sex  and '' !=  sex ">sex = #{sex},
            </if>
            <if test="null != remarks  and '' !=  remarks ">remarks = #{remarks},
            </if>
            <if test="null != createTime ">create_time = #{createTime},
            </if>
            <if test="null != createUserId  and '' !=  createUserId ">create_user_id = #{createUserId},
            </if>
            <if test="null != createUser  and '' !=  createUser ">create_user = #{createUser},
            </if>
            <if test="null != updateTime ">update_time = #{updateTime},
            </if>
            <if test="null != updateUserId  and '' !=  updateUserId ">update_user_id = #{updateUserId},
            </if>
            <if test="null != updateUser  and '' !=  updateUser ">update_user = #{updateUser},
            </if>
        </trim>
        WHERE id = #{id}
    </update>

    <delete id="deleteStudentInfoById" parameterType="java.lang.String">
        DELETE
        FROM fly_student_info
        WHERE id = #{id}
    </delete>


</mapper>